<div class="text-center m-5 text-bg-success">
    <h1>Registro de productos</h1>
</div>
<div class="Formulario text-center m-5 ">
    <div class="container">
        <h2>Formulario</h2>
        <form action='/producto' method='post'>
            <div class="form-group">
                <label htmlFor='nombreProducto'>Nombre Producto</label>
                <input class='form-control' name='nombreProducto' type='text'></input>
            </div>
            <div class="form-group">
                <label htmlFor='precioProducto'>Precio Producto</label>
                <input class='form-control' name='precioProducto' type='number'></input>
            </div>

            <div class="form-group">
                <label htmlFor='imagenProducto'>Imagen Producto</label>
                <input class='form-control' name='imagenProducto' type='text'></input>
            </div>
            <div class="form-group">
                <label htmlFor='stockProducto'>Stock producto</label>
                <input class='form-control' name='stockProducto' type='number'></input>
            </div>
            <div>
                <button type='submit' class="btn btn-success mt-3 w-50">Enviar</button>
            </div>
            <div>
                <button type='reset' class="btn btn-danger mt-3 w-50">Borrar</button>
            </div>
        </form>

    </div>
</div>